body {
  font-family: sans-serif;
  font-size: 15px;
  padding-top: 10em;
  overflow-y: hidden; }

.tree {
  transform: rotate(-90deg);
  transform-origin: 35% 35%; }

.tree ul {
  position: relative;
  padding: 3em 0;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center; }
  .tree ul::after {
    content: "";
    display: table;
    clear: both; }

.tree li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 3em 0.5em 0 0.5em; }
  .tree li::before, .tree li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 3em; }
  .tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc; }
  .tree li:only-child::after, .tree li:only-child::before {
    display: none; }
  .tree li:only-child {
    padding-top: 0; }
  .tree li:first-child::before, .tree li:last-child::after {
    border: 0 none; }
  .tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0; }
  .tree li:first-child::after {
    border-radius: 5px 0 0 0; }

.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 3em; }

.tree li button {
  background: white;
  box-shadow: -1px 1px 3px rgba(61, 61, 61, 0.315);
  border: 1px solid #ccc;
  padding-right: 0.9em;
  text-decoration: none;
  display: inline-flex;
  border-radius: 5px;
  color: #333;
  position: relative;
  top: 1px;
  height: 200px;
  width: 50px;
  justify-content: center;
  align-items: center; }

.tree li button .drop-off {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 2em;
  width: 2em;
  background: white;
  color: #ccc;
  border-radius: 50%;
  bottom: -4.5em;
  left: 50%;
  border: 1px solid #ccc;
  z-index: 5;
  transform: translateX(-50%); }

.drop-off p {
  transform: rotate(-90deg);
  display: block;
  font-size: 1.1rem;
  padding-bottom: 3px; }

span {
  transform: rotate(90deg);
  display: block;
  transform-origin: bottom;
  margin: 0 auto; }
